backend/.env
backend/node_modules
backend/dist
backend/dist-ssr
*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*

frontend/.env
frontend/node_modules
frontend/dist
frontend/dist-ssr

